
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container" style="width:70%">
        <div id="about" class="section wb">
         
            <div class="row mb-5">
                <img src="~/Content/Kodmark/haqqimizda.jpg" style="width:100%; height:auto" />
                <div class="col-md-6" style="padding-top:50px">

                    <div class="message-box" >
                        <h2> HAQQIMIZDA</h2>
                        <p style="text-align:justify; font-family:Tahoma">
                            Etiket və qablaşdırma sektorunda fəaliyyət göstərən şirkətimiz, 2012-ci ildə bu sahədə işləmiş təcrübəli bir qrup tərəfindən qurulmuş və cəmi 1000 m2 qapalı ərazidə xidmət göstərməkdədir.
                            Şirkətimiz, sahəsində təcrübəli və dinamik personalı ilə, məsuliyyəti altında olan işlərin qaydalarına uyğun, yüksək keyfiyyətli və vaxtında bitməsini təmin edir.
                        </p>
                        <p style="text-align:justify; font-family:Tahoma">Bütün sektorlarda, xüsusən də Qida, Kimya, Tikinti, Toxuculuq, Logistika sahələrində istifadə olunan etiket və istilik ötürmə lenti istehsalında lider şirkətlərdən biridir və bundan əlavə barkod avadanlığı, avtomatik etiketləmə maşınları, ehtiyat hissələri və istehlak materiallarını etibarlı şəkildə müştərilərinə çatdıran bir təşkilatdır.</p>


                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6" style="padding-top:30px">
                    <div class="right-box-pro wow fadeIn">
                        <img src="~/Content/Kodmark/aboutGorsel.png" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->

                <div class="row">
                    <div class="col-md-6" style="        padding-top: 20px
">
                        <div class="right-box-pro wow fadeIn">
                            <img src="~/Content/Kodmark/aboutGorsel2.png" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6" style="padding-top:50px">
                        <div class="message-box">
                            <h2>BİZ NƏ EDİRİK?</h2>
                            <p style="text-align:justify;font-family:Tahoma"> Qurulduğu gündən etibarən yerli xidmət göstərən şirkətimiz, 2017-ci ildən etibarən 9 ölkəyə ixracata başladı. Türkiyədə davam etdirdiyi böyümə ilə birlikdə, daha çox ölkəyə çatma hədəfinə addım-addım yaxınlaşan, davamlı inkişaf məqsədi daşıyan bir şirkət olma yolunda müvəffəqiyyətini davam etdirməkdədir.</p>
                            <p style="text-align:justify; font-family:Tahoma">Keyfiyyət standartları və ətraf mühit həssaslığı ilə istehsal edən şirkətimiz, ISO 9001: 2015 zəmanəti altında, müştərilərinin fərqli ehtiyaclarını qarşılamaq üçün Tədqiqat-İnkişaf və İstehsalat-İnkişaf işlərinə, istehsal texnologiyalarına, xüsusi tətbiq işlərinə əhəmiyyətli büdcələr ayırmağa və peşəkar personalı ilə müştərilərinə ən keyfiyyətli xidmətləri göstərməyə davam edir.</p>

                           
                        </div><!-- end messagebox -->
                    </div><!-- end col -->

                </div><!-- end row -->
           
        </div><!-- end section -->
    </div>
