
@{
    ViewBag.Title = "BarkodOxucular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="container" style="width:80%; margin:auto">

        <div id="about" class="section wb" style="padding-bottom:10px !important">
            <div class="row mb-5">
                <h1 style="text-align:center; margin:auto; color:red"><b> Barkod Oxucular</b></h1>
            </div>
        </div>
            <div class="container" style="width:80%; margin:auto">
                <div class="gallery-list row">
                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_a">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/barkodOxucu/ccd.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content" style="text-align:center">

                                    <span class="post">CCD OXUYUCU</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_b">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/barkodOxucu/coklulazer.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content" style="text-align:center">

                                    <span class="post">ÇOXTƏRƏFLİ LAZER OXUYUCU</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_c">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/barkodOxucu/endustriyel.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content" style="text-align:center">

                                    <span class="post">SENAYƏ OXUYUCU</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_a">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/barkodOxucu/imager.png" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content" style="text-align:center">

                                    <span class="post">IMAGER OXUYUCU</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_b">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/barkodOxucu/kablosuz.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content" style="text-align:center">

                                    <span class="post">KABELSİZ OXUYUCU</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_c">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/barkodOxucu/karekod.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content" style="text-align:center">

                                    <span class="post">QR KOD OXUYUCU </span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_a">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/barkodOxucu/manyetik.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content" style="text-align:center">

                                    <span class="post">MAQNETİK OXUYUCU </span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_b">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/barkodOxucu/teklilazer.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content" style="text-align:center">

                                    <span class="post">TƏK ZOLAQLI LAZER OXUYUCU</span>
                                </div>
                              
                            </div>
                        </div>
                    </div>




                </div>
            </div>

        </div>

