
@{
    ViewBag.Title = "BarkodAksesuarları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:60%">
    <div id="about" class="section wb">

        <div class="row mb-5">
            <h1 style="text-align:center; margin:auto; color:red"><b> BARKOD PRİNTER AKSESSUARLARI</b></h1>
            <div class="col-md-6 mobilAksesuar" style="padding-top:70px; padding-left:80px">

                <div class="message-box">
                    <h2> GODEX T-10 </h2>
                    <p style="text-align:justify;font-family:Tahoma; ">
                        •Etiketin Eni: 25,4 mm-120 mm
                        <br />
                        •Silindr Xarici Diametri: 203 mm (Maks.)
                        <br />
                        •Sarıma Sürəti: 304,8 mm/saniyə (Maks.)
                        <br />
                        •Sarıma İstiqaməti: Daxili Sarıma və ya Xarici Sarıma


                    </p>



                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6 mobilYazici " style="padding-top:50px">
                <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                    <img src="~/Content/Kodmark/barkodaksesuaları/godex.png" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-md-6 mobilYazici" style=" padding-top: 10px
">
                <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                    <img src="~/Content/Kodmark/barkodaksesuaları/towa.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="col-md-6 mobilAksesuar" style="padding-top:50px; padding-left:50px">
                <div class="message-box">
                    <h2>TOWA APN-30</h2>

                    <p style="text-align:justify;font-family:Tahoma">
                        •Patentli etiket qəbuledicisi
                        <br />
                        •Etiket sıxışmasının qarşısının alınması
                        <br />
                        •10-30mm etiket eni
                        <br />
                        •Tənzimlə bilər başlıq
                        <br />
                        •Asan tutma


                    </p>




                </div><!-- end messagebox -->
            </div><!-- end col -->

        </div><!-- end row -->
        <div class="row mb-5">

            <div class="col-md-6 mobilAksesuar" style="padding-top:50px; padding-left:80px">

                <div class="message-box">
                    <h2> TOWA APN-100 </h2>
                    <p style="text-align:justify;font-family:Tahoma">
                        • Patentli etiket qəbuledicisi
                        <br />
                        • Etiket sıxışmasının qarşısının alınması
                        <br />
                        • 100mm etiket eni
                        <br />
                        •Tənzimlə bilər başlıq
                        <br />
                        • Asan tutma
                    </p>



                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6 mobilYazici" style="padding-top:10px">
                <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                    <img src="~/Content/Kodmark/barkodaksesuaları/apn.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-md-6 mobilYazici" style=" padding-top: 10px
">
                <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                    <img src="~/Content/Kodmark/barkodaksesuaları/apf.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="col-md-6 mobilAksesuar" style="padding-top:50px; padding-left:50px">
                <div class="message-box">
                    <h2>TOWA APF-60</h2>

                    <p style="text-align:justify;font-family:Tahoma">
                        •Patentli etiket qəbuledicisi
                        <br />
                        •Şəkilli kənar dəstəyi
                        <br />
                        • Etiket sıxışmasının qarşısının alınması
                        <br />
                        •60mm etiket eni
                        <br />
                        •Tənzimlə bilər başlıq
                    </p>

                </div><!-- end messagebox -->
            </div><!-- end col -->

        </div><!-- end row -->

    </div><!-- end section -->
</div>


