
@{
    ViewBag.Title = "CapOlunmusEtiket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container" style="width:80%; margin:auto">

        <div id="about" class="section wb" style="padding-bottom:10px !important">
            <div class="row mb-5">
                <h1 style="text-align:center; margin:auto; color:red"><b> Çap Olunmuş Etiketlər </b></h1>
            </div>
        </div>
            <div class="container" style="width:80%; margin:auto">
                <div class="gallery-list row">
                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_a">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/capolunmus/kozmetik.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content">

                                    <span class="post">Kosmetik Etiketləri</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_b">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/capolunmus/madeni yağ etiketi.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content">

                                    <span class="post">Mineral Yağ Etiketləri</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_c">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/capolunmus/gidaetiketi1.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content">

                                    <span class="post">Qida Məhsulu Etiketləri</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_a">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/capolunmus/temizlikurun.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content">

                                    <span class="post">Təmizləmə Məhsulu Etiketləri</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_b">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/capolunmus/tekstiletiketi.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content">

                                    <span class="post">Toxuculuq Etiketləri</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_c">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/capolunmus/kimyaetiketi.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content">

                                    <span class="post">Kimya Etiketləri </span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_a">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/capolunmus/demir çeliki.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content">

                                    <span class="post">Dəmir və Polad Etiketlər </span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-6 gallery-grid photo_b">
                        <div class="gallery-single fix" style="width:90%; height:180px">
                            <img src="~/Content/Kodmark/capolunmus/koli.jpg" class="img-fluid" alt="Image">
                            <div class="box-content">
                                <div class="inner-content">

                                    <span class="post"> Logistika Etiketləri</span>
                                </div>
                              
                            </div>
                        </div>
                    </div>




                </div>
            </div>

        </div>