
@{
    ViewBag.Title = "LentNövlari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mobilContainerxs" style="width:60%; margin:auto">

        <div id="about" class="section wb" style="padding-bottom:10px !important">
            <div class="row mb-5" style="width:80%; height:auto; margin:auto">
                <h1 style="text-align:center; margin:auto; color:red"><b>  Lent Növləri</b></h1>
            </div>
        </div>
        <div class="container mobilContainerxs" style="width:80%; margin:auto">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                    <div>
                        <div class="services-inner-box">
                            <div class="ser-icon" style="width:100%; height:auto">
                                <img src="~/Content/Kodmark/Lent/wax ribon.jpg" />
                            </div>
                            <h2>Mum Lent</h2>
                            <p>Mum lent ilə şirəli, vellum və qırılan etiketlər kimi bütün kağız əsaslı səthlərə çap edilə bilər.</p>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                    <div>
                        <div class="services-inner-box">
                            <div class="ser-icon" style="width:100%; height:auto">
                                <img src="~/Content/Kodmark/Lent/waxResin2.jpg" />
                            </div>
                            <h2>Mum-Qətran Lent</h2>
                            <p>Mum lentlərindən daha davamlı və ləkələr və xarici mühit üçün daha uyğun çap tətbiqetmələri üçün idealdır. Sürtünmə və xarici amillərə qarşı müqavimət göstərən mum-qətran lent ilə kağız əsaslı və plastik səthlərdə çap edilə bilər.</p>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                    <div>
                        <div class="services-inner-box">
                            <div class="ser-icon" style="width:100%; height:auto">
                                <img src="~/Content/Kodmark/Lent/resin2.png" />
                            </div>
                            <h2>Qətran Lent</h2>
                            <p>Ən davamlı lent növüdür. İstiliyə, silinməyə və köhnəlməyə davamlı, möhkəm olması məcburi bütün çap tətbiqetmələri üçün idealdır. Bütün etiket səthlərinə uyğun növlərimiz mövcuddur.</p>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                    <div>
                        <div class="services-inner-box">
                            <div class="ser-icon" style="width:100%; height:auto">
                                <img src="~/Content/Kodmark/Lent/renkliribon2.jpg" />
                            </div>
                            <h2>Rəngli Lent</h2>
                            <p>Bütün lentlər ilə eyni xüsusiyyətə malikdir, yeganə fərqləndirici xüsusiyyəti rəngli olmasıdır. Vellum, şirəli və silvermat etiket, PP, PE kimi bir çox səthə təhlükəsiz şəkildə tətbiq edilə bilər.</p>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                    <div>
                        <div class="services-inner-box">
                            <div class="ser-icon" style="width:100%; height:auto">
                                <img src="~/Content/Kodmark/Lent/hotfoil.jpg" />
                            </div>
                            <h2>Hotfoil/Tarix Kodlaşdırma Folqası</h2>
                            <p>Ümumiyyətlə qablaşdırma üzərində tarix və lot nömrəsi çapı üçün istifadə olunur. Ən çox istifadə edilənlər qara və ağ rənglərdir.</p>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                    <div>
                        <div class="services-inner-box">
                            <div class="ser-icon" style="width:100%; height:auto">
                                <img src="~/Content/Kodmark/Lent/near edge.jpg" />
                            </div>
                            <h2> Near Edge Lent</h2>
                            <p>Near edge lentlər ilə etiketlər və ya qablaşdırma üzərinə yüksək sürətlə çap edilə bilər. Toshiba, Novexx kimi markaların bəzi barkod yazıcı modellərində istifadə olunur. Bundan əlavə, Videojet, Markem, Domino, Savema kimi kodlaşdırma maşınlarında qablaşdırma üzərində tarix kodlaşdırma folqası kimi istifadə olunur.</p>
                        </div>
                    </div>
                </div><!-- end col -->
               
            </div><!-- end row -->
        </div>

    </div>

