
@{
    ViewBag.Title = "MasaustuYazıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:60%">
    <div id="about" class="section wb">

        <div class="row mb-5">
            <h1 style="text-align:center; margin:auto; color:red"><b> MASAÜSTÜ BARKOD PRİNTERLƏR</b></h1>
            <div class="col-md-6" style="padding-top:70px; ">

                <div class="message-box">
                    <h2> ZEBRA GC-420T </h2>
                    <p style="text-align:justify;font-family:Tahoma">
                        • Çap Üsulu: Birbaşa Termo.
                        <br />
                        • Əks etmə qabiliyyəti: 203 dpi (8 dot/mm)
                        <br />
                        •Yaddaş: standart; 8 MB SDRAM, 8 MB Flash.
                        <br />
                        • Çapın Eni: 104 mm104 mm.
                        <br />
                        •Çapın Uzunluğu: 991 mm.
                        <br />
                        •Çapın Sürəti: 102 mm/s.
                        <br />
                        •Proqramlaşdırma Dilləri: EPL2, ZPL I/ZPL II.
                    </p>



                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6 mobilYazici" style="padding-top:50px">
                <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                    <img src="~/Content/Kodmark/Masaustu/zebragc.png" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-md-6 mobilYazici" style=" padding-top: 40px
">
                <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                    <img src="~/Content/Kodmark/Masaustu/argox.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="col-md-6" style="padding-top:50px">
                <div class="message-box">
                    <h2>ARGOX OS-214 PLUS</h2>

                    <p style="text-align:justify;font-family:Tahoma">
                        • Çap Üsulu: Birbaşa Termo / Termotransfer Barkod Printeri
                        <br />
                        • Əks etmə qabiliyyəti: 203 DPI
                        <br />
                        •Yaddaş: 8 MB DRAM, 4 MB Flash Yaddaş
                        <br />
                        • Çapın Eni: 104 mm Çap Eni
                        <br />
                        • Çapın Uzunluğu: 1.092 mm Çap Uzunluğu
                        <br />
                        • Çapın Sürəti: Maks. 102 mm
                        <br />
                        • Proqramlaşdırma Dilləri: PPLA və PPLB
                    </p>




                </div><!-- end messagebox -->
            </div><!-- end col -->

        </div><!-- end row -->
        <div class="row mb-5">
            
            <div class="col-md-6" style="padding-top:50px">

                <div class="message-box">
                    <h2> TOSHIBA B-EV4T </h2>
                    <p style="text-align:justify;font-family:Tahoma">
                        • Çap Üsulu: Birbaşa termo (Lentsiz) / Termotransfer (Lentli)
                        <br />
                        • Əks etmə qabiliyyəti: 203 DPI
                        <br />
                        •Yaddaş: 8 MB DRAM, 4 MB Flash Yaddaş
                        <br />
                        • Çapın Eni: 108 mm
                        <br />
                        • Çapın Uzunluğu: 995 mm
                        <br />
                        •Çapın Sürəti: 127 mm
                        <br />
                        •Rabitə Portları Ardıcıl + Paralel + Usb 2.0 + Lan
                        <br />
                        • Proqramlaşdırma Dilləri: TPL
                    </p>



                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6 mobilYazici" style="padding-top:50px">
                <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                    <img src="~/Content/Kodmark/Masaustu/ev4t.png" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-md-6 mobilYazici" style=" padding-top: 40px
">
                <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                    <img src="~/Content/Kodmark/Masaustu/fvt.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="col-md-6" style="padding-top:50px">
                <div class="message-box">
                    <h2>Toshiba B-FV4T</h2>

                    <p style="text-align:justify;font-family:Tahoma">
                        •Çap Üsulu: Birbaşa termo (Lentsiz) Termotransfer (Lentli)
                        <br />
                        •Əks etmə qabiliyyəti: 203 DPI
                        <br />
                        • Çapın Eni:En fazla 108 mm.
                        <br />
                        •Çapın Uzunluğu: 995 mm
                        <br />
                        •Çapın Sürəti: 152,4 mm.
                        <br />
                        • Rabitə Növləri Ardıcıl Port, Paralel Port, USB, LAN.
                        <br />
                        •Proqramlaşdırma Dilləri: TPCL
                    </p>

                </div><!-- end messagebox -->
            </div><!-- end col -->

        </div><!-- end row -->

    </div><!-- end section -->
</div>


