
@{
    ViewBag.Title = "Missia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mobilContainer" style="width:70%">
    <div id="services" class="section lb">
        <div class="container" style="margin-top:80px">
            <div class="section-title text-center">
                <h3>VİZYON, MİSSİYA VE DƏYƏRLƏRİMİZ</h3>
                
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-6" >
                    <div class="effect-new">
                        <div class="services-inner-box" style="height:300px">
                            <div class="ser-icon">
                                <img src="~/Content/Kodmark/logo/vizyon.png" />
                            </div>
                            <h2> VİZYON</h2>
                            <p style="font-family:Tahoma">Xidmət və məhsul keyfiyyətini peşəkar personalı ilə birləşdirmək və müştərilərinin ilk seçimi olaraq geniş kütlələrə çata bilmək.</p>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-6"  >
                    <div class="effect-new">
                        <div class="services-inner-box" style="height:300px">
                            <div class="ser-icon">
                                <img src="~/Content/Kodmark/logo/misyon.png" />
                            </div>
                            <h2> MİSSİYA</h2>
                            <p style="font-family:Tahoma">
                                Davamlı təkmilləşməni prinsip qəbul etmək.
                                İstehsal gücünü artırmaq.
                                İnnovativ və müsbət idarəetməyə əsaslanmaq.
                                Keyfiyyətə əhəmiyyət vermək.
                            </p>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="effect-new">
                            <div class="services-inner-box">
                                <div class="ser-icon">
                                    <img src="~/Content/Kodmark/logo/degerlerimiz.png" />
                                </div>
                                <h2> DƏYƏRLƏRİMİZ</h2>
                                <p style="font-family:Tahoma"s>
                                    Peşə Etikası: Bütün fəaliyyət sahələrində, qərarlarında və münasibətlərində ən yüksək mənəvi dəyərləri nəzərə alır.
                                    Etibarlılıq: Bir-birimizə, iş ortaqlarımıza və müştərilərimizə açıq, səmimi, dürüst və ədalətli davranırıq. Etibar və dürüstlük ən vacib dəyərlərimizdir.
                                    Müvəffəqiyyət Ehtirası: Müvəffəqiyyət ehtirasımızın yüksək olmağının verdiyi hiss ilə çətinliklərdən imtina etmirik, mübarizə aparırıq və yüksək motivasiya ilə işləyirik.
                                    Keyfiyyətə Fokuslanma: İşlərimizi vaxtında, ən keyfiyyətli və səmərəli şəkildə başa çatdırırıq.
                                    Məsuliyyət: İşimiz üzrə gözləntiləri düzgün başa düşürük və məsuliyyət daşıyırıq, effektiv həllər tövsiyə edirik və həyata keçiririk.
                                </p>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
            </div><!-- end row -->
        </div>
    </div><!-- end container -->
</div><!-- end section -->
