
@{
    ViewBag.Title = "MobilYazıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="width:50%">
        <div id="about" class="section wb">

            <div class="row mb-5">
                <h1 style="text-align:center; margin:auto; color:red"><b> MOBİL BARKOD PRİNTERLƏR</b></h1>
                <div class="col-md-6" style="padding-top:50px">

                    <div class="message-box">
                        <h2> ARGOX AME 3230B </h2>
                        <p style="text-align:justify;font-family:Tahoma">
                            •Çap Üsulu: Birbaşa Termo
                            <br />
                            •Çapın Eni: Maks 72mm
                            <br />
                            • Çapın uzunluğu: Maks 1016mm
                            <br />
                            •Maks Çapın Sürəti: 76mm/sn
                            <br />
                            •8MB DRAM və 4MB Flash ROM yaddaş
                            <br />
                            •RS-232,USB,IRDA və Bluetooth PPLZ dil dəstəyi
                            <br />
                            •Yapışqanlı etiketə də yazdırıla bilər.
                        </p>



                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6 mobilYazici" style="padding-top:50px">
                    <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                        <img src="~/Content/Kodmark/mobil/argoxmobil.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6 mobilYazici" style=" padding-top: 40px
">
                    <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                        <img src="~/Content/Kodmark/mobil/ep4.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="col-md-6" style="padding-top:50px">
                    <div class="message-box">
                        <h2>TOSHIBA B-EP4DL</h2>

                        <p style="text-align:justify;font-family:Tahoma">
                            • Çap Üsulu: Birbaşa Termo
                            <br />
                            • Əks etmə qabiliyyəti: 203dpi
                            <br />
                            •Maks Çapın Sürəti: 105mm/s
                            <br />
                            • Çapın Eni: 104mm
                            <br />
                            • Çapın uzunluğu: 997mm
                            <br />
                            • 16MB S-RAM,USB,Bluetooth
                        </p>




                    </div><!-- end messagebox -->
                </div><!-- end col -->

            </div><!-- end row -->
            <div class="row mb-5">

                <div class="col-md-6" style="padding-top:50px">

                    <div class="message-box">
                        <h2> ZEBRA İMZ SERIYASI </h2>
                        <p style="text-align:justify;font-family:Tahoma">
                            Zebra-nın kompakt və erqonomik dizayna sahib portativ printerləri seriyasına daxil olan İMZ220 və İMZ320 model mobil printerlər davamlı çapın tələb olunduğu bir çox proqramda geniş istifadə olunur. Çap prosesi, Bluetooth və ya 802,11b/g vasitəsilə mümkündür.
                        </p>



                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6 mobilYazici" style="padding-top:50px">
                    <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                        <img src="~/Content/Kodmark/mobil/imz.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6 mobilYazici" style=" padding-top: 40px
">
                    <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                        <img src="~/Content/Kodmark/mobil/qln.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto">
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="col-md-6" style="padding-top:50px">
                    <div class="message-box">
                        <h2>ZEBRA QLn SERIYASI</h2>

                        <p style="text-align:justify;font-family:Tahoma">
                            Zebra QLn seriyalı portativ printerlər etiket çapı üçün xüsusi hazırlanmışdır və 100mm / san çap sürətini dəstəkləyir. QLn220 seriyası 2 ", QLn320 seriyası 3", QLn420 seriyası 4 "yazdırır. Bluetooth 2.0 və ya 802.11b / g vasitəsilə əlaqə mümkündürZebra QLn seriyasından portativ printerlər, xüsusilə etiket çapı üçün  hazırlanmışdır və 100mm/sn çap sürətini dəstəkləyir. QLn220 seriyası 2", QLn320 seriyası 3", QLn420 seriyası 4" enində çap edir. Bluetooth 2.0 və ya 802.11b/g vasitəsilə əlaqə təmin edilə bilər.

</div><!-- end messagebox -->
                </div><!-- end col -->

            </div><!-- end row -->

        </div><!-- end section -->
    </div>

