
@{
    ViewBag.Title = "SənayeYazıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:70%">
    <div id="about" class="section wb" style="padding-bottom:10px !important">
        <div class="row mb-5" style="width:80%; height:auto; margin:auto">
            <h1 style="text-align:center; margin:auto; color:red"><b>  Sənaye Printerləri</b></h1>
        </div>
    </div>

    <div class="row mb-5">

        <div class="col-md-7" style="padding-top:30px">

            <div class="message-box">
                <h2> Zebra ZT Seriyası </h2>
                <p style="text-align:justify; font-family:Tahoma">
                    <table class="table table-bordered table-responsive" border=1 cellpadding="0" cellspacing="0" style="width:100%; height:auto; padding-left:0px; padding-right:0px; font-size:12px">
                        <tr>
                            <th>Zebra ZT seriyası</th>
                            <th>ZT-220</th>
                            <th>ZT-230</th>
                            <th>ZT-410</th>
                            <th>ZT-420</th>

                        </tr>
                        <tr>
                            <th>Çap</th>
                            <td>Birbaşa termo və ya termotransfer</td>
                            <td>
                                Birbaşa termo və termotransfer
                            </td>
                            <td>Termotransfer və birbaşa termo çap</td>
                            <td>Termotransfer və birbaşa termo çap</td>


                        </tr>
                        <tr>
                            <th>Çapın Eni</th>
                            <td>104mm</td>
                            <td>104mm</td>
                            <td>104mm</td>
                            <td>168mm</td>

                        </tr>
                        <tr>
                            <th>Çapın Sürəti</th>
                            <td>152mm/sn</td>
                            <td>152 mm/ sn</td>
                            <td>356 mm/sn</td>
                            <td>305mm/sn</td>

                        </tr>
                    </table>
                </p>


            </div><!-- end messagebox -->
        </div><!-- end col -->

        <div class="col-md-5 mobilYazici" style="padding-top:120px">
            <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                <img src="~/Content/Kodmark/endustriyel/endüstriyel.jpg" alt="" class="img-fluid img-rounded" style="text-align:center; margin:auto;width:90%">
            </div><!-- end media -->
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="row">
        <div class="col-md-5 mobilYazici" style=" padding-top: 140px
">
            <div class="right-box-pro wow fadeIn" style="text-align:center; margin:auto">
                <img src="~/Content/Kodmark/endustriyel/toshiba.jpg" style="text-align:center; margin:auto;width:90%" alt="" class="img-fluid img-rounded">
            </div><!-- end media -->
        </div><!-- end col -->

        <div class="col-md-7" style="padding-top:50px">
            <div class="message-box">
                <h2>TOSHIBA B-Seriyası </h2>
                <p style="text-align:justify;font-family:Tahoma">
                    <table class="table table-bordered table-responsive" border=1 cellpadding="5" cellspacing="5" style="width:100%; height:auto; padding-left:0px; padding-right:0px; font-size:12px">
                        <tr>
                            <th> TOSHIBA B-Seriyası </th>
                            <th>B-EX4T1</th>
                            <th>B-EX4T2</th>
                            <th>B-SX4T</th>
                            <th>B-SX5T</th>

                        </tr>
                        <tr>
                            <th>Çap</th>
                            <td>Birbaşa termo / termotransfer </td>
                            <td>
                                Birbaşa termo / termotransfer
                            </td>
                            <td>Birbaşa termo / termotransfer </td>
                            <td>Birbaşa termo / termotransfer </td>


                        </tr>
                        <tr>
                            <th>Çapın Eni</th>
                            <td>104 mm</td>
                            <td>104 mm</td>
                            <td>104 mm</td>
                            <td>
                                127.5 mm
                            </td>

                        </tr>
                        <tr>
                            <th>Çapın sürəti</th>
                            <td>355.6 mm/s</td>
                            <td>304 mm/s</td>
                            <td>254 mm/s</td>
                            <td>
                                203.2 mm/s
                            </td>

                        </tr>
                    </table>
                </p>


            </div><!-- end messagebox -->
        </div><!-- end col -->

    </div><!-- end row -->

</div><!-- end section -->
    

