
@{
    ViewBag.Title = "YazılmamısEtiket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mobilContainerxs" style="width:60%; margin:auto">

    <div id="about" class="section wb" style="padding-bottom:10px !important">
        <div class="row mb-5" style="width:80%; height:auto; margin:auto">
            <h1 style="text-align:center; margin:auto; color:red"><b> Yazılmamış Etiketlər</b></h1>
        </div>
    </div>
    <div class="container " style="width:80%; margin:auto">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/kuse1.png" />
                        </div>
                        <h2>Şirəli Etiket</h2>
                        <p>Özündən yapışqanlı, hamar bir səthə sahib kağız əsaslı bir etiketdir. Lentlə çap olunur.</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/vellum2.png" />
                        </div>
                        <h2>Vellum Etiket </h2>
                        <p>Şirəli etiketlər ilə eyni xüsusiyyətə malikdir və mat və kobud səthi sayəsində daha yaxşı lent çapı əldə edilə bilər.</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/termal1.png" />
                        </div>
                        <h2>Termal Etiket</h2>
                        <p>Bunlar lentsiz çap olunan etiketlərdir. Maşınlarda birbaşa termal çap üsulu ilə çap edilə bilər. Xarici mühitə qarşı müqavimətsiz və qısa ömürlüdür.</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/pp opak etiket.jpg" />
                        </div>
                        <h2>PP Qeyri Şəffaf Etiket</h2>
                        <p>Plastik əsaslı etiketlər qrupundadır. Su, nəm, istilik kimi xarici mühitlərdə pozulma göstərmir, bükülmür, güc tətbiq edilməsə asanlıqla yırtılmır. Parlaq və mat səthləri olan növləri mövcuddur.</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/silvermat.jpg" />
                        </div>
                        <h2>Silvermat Etiket</h2>
                        <p>Xüsusi bir yapışqana sahib olan və soyuq və isti amillərə davamlı plastik əsaslı materialdan istehsal olunur. Həm çap səthi həm də yapışqan səth boz rəngdədir və mat və ya parlaq kimi növləri mövcuddur.</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/kırılgan1.jpg" />
                        </div>
                        <h2> Zəmanət və Təhlükəsizlik Etiketləri</h2>
                        <p>Qırılan Etiket: Zəmanət etiketi adlanır. Xüsusi yapışqanı sayəsində, yapışdırıldığı məhsuldan çıxarılmaq istəndiyində qırılaraq sökülə bilər.</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/fasty1.jpg" />
                        </div>
                        <h2> PP Tyre/Fastyre </h2>
                        <p>Xüsusi və güclü yapışqanlı etiketlərdir. Kağız və plastik əsaslı növləri mövcuddur. Kağız əsaslı etiketin yapışqanı metallaşdırılmış rəngdədir, plastik əsaslı etiketin yapışqan hissəsi ağ rəngdədir.</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/floresan1.jpg" />
                        </div>
                        <h2> Fluoresyent Etiket </h2>
                        <p>Kağız əsaslı etiketlərin bütün xüsusiyyətlərinə malik olan, parlaq rəngli etiketlərdir.</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/yemvecuval.jpg" />
                        </div>
                        <h2>  Yem və Çuval Etiketi </h2>
                        <p>Yapışqansız istehsal olunan bu etiketlər, çuvala tikilməklə istifadə olunur. Fərqli mikronlarda alternativləri mövcuddur.</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 col-xl-6">
                <div>
                    <div class="services-inner-box">
                        <div class="ser-icon" style="width:100%; height:auto">
                            <img src="~/Content/Kodmark/yazılmamıs/kuyumcu1.png" />
                        </div>
                        <h2>  Zərgər və Optik Etiketi </h2>
                        <p>Zərgərlər və optiklər üçün uyğun ölçülərdə istehsal olunan bir etiket növüdür.</p>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div>

</div>

